.wrapper {
    overflow-x:scroll;
    overflow-y: hidden;
    flex-shrink: 0;

    .container {
        overflow-y: scroll;
        height: 100%;
        .keys {
            width: 80px;
            position: relative;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
    &::-webkit-scrollbar {
        background:transparent;
    }
}